.main {
  font-family: Fira Code;
  text-align: center;
  font-weight: 300;

  color: map-get($colors, grey);
  &__blue {
    color: map-get($colors, blue);
  }
  min-height: 100vh;
  width: 100%;
}

.content {
  margin: auto;
  a {
    text-decoration: none;
    color: map-get($colors, grey);
  }
  padding-top: 40%;
  @include breakpoint(s) {
    padding-top: 20vh;
  }
  @include breakpoint(l) {
    padding-top: 15vh;
  }
  @include breakpoint(xl) {
    padding-top: 20vh;
  }
  @include breakpoint(xxl) {
    padding-top: 10%;
  }
  max-width: 80%;
}

.cargo {
  span {
    font-size: 0.9rem;
    margin: -10px 0px;
  }
  img {
    margin-right: 10px;
    margin-top: 10px;
    width: 5px;
    height: 5px;
  }
}

.techs {
  position: relative;
  span {
    font-size: 0.9rem;
    margin: -10px 0px;
  }

  img {
    margin-right: 10px;
    margin-top: 10px;
    width: 5px;
    height: 5px;
  }
}

.mi {
  max-height: 400px;
  @include breakpoint(xl) {
    max-height: 450px;
  }
  @include breakpoint(xxl) {
    max-height: 500px;
  }
}

.profile {
  max-height: 80%;
  @include breakpoint(xl) {
    margin-top: -70px;
  }
}

.profile-left {
  flex: 0 0 50%;
  text-align: right;
  margin-right: 20px;
}

.short {
  max-width: 700px;
  margin: auto;
}

.veryshort {
  max-width: 300px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 360px;
  @include breakpoint(s) {
    height: 600px;
  }

  @include breakpoint(m) {
    height: 400px;
    display: flex;
    flex-direction: row;
  }
}

.t {
  margin-bottom: 2px;
  margin-top: 10px;
}

.arrow {
  display: none;
  @include breakpoint(m) {
    display: block;
  }
}

.arrowMobile {
  display: block;
  @include breakpoint(m) {
    display: none;
  }
}

.nokia {
  width: 40px;
}

.ex {
  display: none;
  @include breakpoint(s) {
    display: block;
  }
}

.recap {
  text-align: left;

  margin-top: -80px;
  width: 300px;
  @include breakpoint(m) {
    justify-content: space-between;

    margin: auto;
    margin-top: -60px;
  }
  p {
    margin: 5px;
  }
  a {
    margin: 5px 0px;
  }
  div {
    margin: 40px 0px;
  }
}

.pic {
  width: 300px;
  margin: 30px;
  @include breakpoint(m) {
    width: 400px;
  }
}

.asafvid {
  width: 100%;
  margin-top: 50px;
  position: relative;
  z-index: 4;
  @include breakpoint(s) {
    width: 600px;
  }
}

.footballpics {
  display: flex;
  flex-direction: column;

  img,
  video {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    width: 55%;
    @include breakpoint(s) {
      width: 35%;
    }

    margin: 10px auto;
  }

  @include breakpoint(l) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.back-mobile {
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background: transparent;
  height: 100vh;
  width: 17%;
  @include breakpoint(m) {
    display: none;
  }
}

.back {
  position: fixed;
  top: 20px;
  left: 5%;
  display: none;
  @include breakpoint(m) {
    display: block;
  }
  &:hover {
    cursor: pointer;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
  margin: 60px auto;
  margin-top: -150px;
  @include breakpoint(s) {
    margin-top: -200px;
  }
  font-size: 10px;
  position: relative;
  z-index: 2;
  text-indent: -9999em;
  border-top: 1em solid rgba(0, 67, 255, 0.2);
  border-right: 1em solid rgba(0, 67, 255, 0.2);
  border-bottom: 1em solid rgba(0, 67, 255, 0.2);
  border-left: 1em solid #1027fa;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.d {
  margin: 10px;
  max-width: 250px;
  margin: 10px auto;
}

.dd {
  max-width: 400px;
  margin: 10px auto;
}

.box1 {
  display: flex;
  flex-direction: column;

  @include breakpoint(m) {
    flex-direction: row;
  }
}

.text {
  position: relative;
  margin-bottom: 7px !important;
}

.projets {
  width: 80%;
  padding-top: 20vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Fira Code;
}
.projets img {
  max-height: 400px;
  margin: 20px 0px;
}

.tina img {
  margin: 10px;
}

.r img {
  margin: 0px 10px;
}

.jauge {
  display: none;
  position: absolute;
  top: 85px;
  margin: auto;
  width: 100%;
  text-align: center;
  @include breakpoint(m) {
    display: block;
  }
}

.dash {
  position: relative;
  width: 210px;
  margin: auto;
}

.mobilejauge {
  display: block;
  position: absolute;
  top: 85px;
  margin: auto;
  width: 100%;
  text-align: center;
  @include breakpoint(m) {
    display: none;
  }
}

.mobiledash {
  position: relative;
  width: 126px;
  margin: auto;
}
