.project-layout {
  height: 93vh;
  width: 100vw;
  overflow: hidden !important;
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  &__description {
    max-width: 40vw;
    margin: 20px;

    @include breakpoint(s) {
      max-width: 30vw;
    }
  }

  &__content {
    @include breakpoint(xl) {
      max-width: 90%;
      min-width: 70%;
      margin: auto;
    }
  }
}

.line {
  position: absolute;

  top: 50%;
  @include breakpoint(m) {
    top: 70%;
  }
}

.linestart {
  position: absolute;
  top: 50%;
  left: 50%;
  @include breakpoint(m) {
    top: 70%;
  }

  h3 {
    margin-top: -30px;
  }
}

.lineend {
  position: absolute;
  top: 50%;
  right: 10%;
  display: flex;
  @include breakpoint(m) {
    top: 70%;
    right: 50%;
  }

  h3 {
    margin-top: -7px;
    margin-left: -180px;
    width: 250px;
  }
}

.start-text {
  position: absolute !important;
  top: -55% !important;
  left: 50%;
  margin: 0px !important;
  width: 300px !important;
  @include breakpoint(m) {
    top: -5% !important;
  }
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(xl) {
    flex-direction: row;
    width: 80%;
    margin: auto;
  }

  &__left {
  }
  img {
    max-width: 70vw;

    @include breakpoint(s) {
      max-width: 65vw;
    }

    @include breakpoint(m) {
      max-width: 65vw;
      max-height: 55vh;
    }

    @include breakpoint(l) {
      max-width: 55vw;
    }
    @include breakpoint(xxl) {
      max-width: 65vw;
      max-height: 75vh;
    }
  }

  &__text {
    z-index: -1;
    max-width: 70vw;
    margin-top: 30px;
    @include breakpoint(s) {
      max-width: 65vw;
    }

    @include breakpoint(l) {
      max-width: 55vw;
    }

    @include breakpoint(xl) {
      max-width: 30vw;
      max-height: 50vh;
      margin: 30px 70px 0px 70px;
    }
  }
}

.code-count {
  box-sizing: border-box;
  width: 300px;
  margin: 80px;
  margin-left: 200px;
  @include breakpoint(s) {
    margin-top: 220px;
    margin-left: 200px;
  }

  @include breakpoint(m) {
    position: relative;
    margin-top: -300px;
    margin-left: 20px;
  }
}

.terrain {
  max-width: 80vw !important;
  margin-top: 50px;
  @include breakpoint(s) {
    margin-top: 70px;
  }
  @include breakpoint(m) {
    margin-top: 0px;
  }
}

.nokia {
  margin-top: 50px;
  @include breakpoint(m) {
    margin-top: 0px;
  }
}
